#owl-carousel .owl-item div{
    padding:10px 0px 10px 60px;
    margin: 10px;
}
#owl-carousel .owl-item img{
    display: block;
    width: 90%;
    height: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ui.raised.segment p{
    color: #000;
}
#owl-carousel segment{
    background: transparent;
}
.box {
    margin-right: 15px;
}